{% include 'header.html' %}

<body>

<h1 class="title">Test nou</h1>

<form method="post">

<div class="green-bg post post-bg form-box">

    <label>Titlu</label>
    <input type="text" name="title" placeholder="titlu">

    <label>Categorie</label>
    <input type="text" name="category" placeholder="categorie">

    <label>Nivel de cunostinte necesar</label>
    <input type="text" name="level" placeholder="nivel de cunostinte">

    <button type="submit" class="submit">Treci la intrebari</button>

</div>

</form>


</body>


{% include 'footer.html' %}
