{% include 'header.html' %}

<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<h1 class="title">Schimbare parola</h1>

<form method="post">

<div class="green-bg post post-bg form-box">

    <label>Parola noua pentru {{ user.username }}</label>
    <input type="password" name="password" placeholder="parola noua">

    <label>Confirma parola</label>
    <input type="password" name="cpassword" placeholder="confirma parola">

    <button type="submit" class="submit">Submit</button>

</div>

</form>

</body>


{% include 'footer.html' %}





