{% include 'header.html' %}

<body>

<h1 class="title">Teste</h1>

<div class="container">
    <div class="row">

        {% for test in tests %}

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="test-bg">
                <a href="{{ url_for('test', test_title=test.title) }}">
                    <div class="test">
                        <h3>{{ test.title }}</h3>
                        <h5>{{ test.category }}</h5>
                    </div>
                </a>

                {% if current_user.id == 1 %}
                <a href="{{ url_for('delete_test', test_title=test.title) }}">sterge testul</a>
                {% endif %}
            </div>
        </div>

        {% endfor %}

    </div>
</div>


</body>

{% include 'footer.html' %}

<!--<script src="{{ url_for('static', filename='tests.js') }}"></script>-->
